/* body {
  background-color: #fff;
  color: #000;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  min-width: 400px;
  padding: 20px;
  margin: 0;
  text-align: center;
  border: 1px #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.Link-div {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.Link-div a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding-bottom: 5px;
}

.Link-div a.active::after,
.Link-div a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: red;
}

.close-button {
  margin-left: 50%;
  font-size: 18px;
  cursor: pointer;
}

p {
  font-family: Commissioner;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #1a071066;
}

.social-signup {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.social-signup img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  position: relative;
  width: 100%;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 14px;
  color: #999;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.2s;
}

input {
  width: 90%;
  max-width: 430px;
  padding: 20px 20px 20px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  outline: none;
  color: black;
}

input:focus {
  border-color: #5932ea;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 10px;
  font-size: 12px;
  color: #1a0710a6;
}

input::placeholder {
  color: transparent;
}

input.error {
  border-color: red;
}

button[type="submit"] {
  width: 100%;
  max-width: 370px;
  padding: 15px 20px;
  background-color: #5932ea;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -35px;
  left: 10px;
}

.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.length-para {
  font-family: Commissioner;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding-top: 10px;
  color: #1a0710a6;
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.myCheckbox {
  width: auto;
}

.p-checkbox {
  font-family: Commissioner;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #1a0710d9;
}

.Terms-Div {
  display: inline-flex;
} */
